.collapse {
    margin-left: 10vh;
}

.content {
    width: 100%;

}

.img-content {
    width: 100%; /* Mengatur lebar gambar menjadi 100% dari parent container */
    max-width: 100%; /* Batasi lebar maksimum gambar */
    height: auto; /* Menyesuaikan tinggi gambar secara proporsional */

}

.slider {
    background-image: url('img2.png');
    min-height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.slick-prev::before {
    content: "" !important;
}

.slick-next::before {
    content: "" !important;
}

.about-us .row {
    width: ;
}